* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
  caret-color: transparent;
}

body {
  padding: 20px;
  font-size: 20px;
  background-color: white;
}

.main-grid-container {
  display: grid;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  max-height: 640px;
}

.main-grid-item {
  padding: 20px;
  font-size: 10px;
  text-align: center;
  height: 620px;
  max-height: 620px;
}

.main-grid-item-1 {
  left: -1200px;
  position: relative;
  width: fit-content;
  background-color: #EADDCA;
  border-radius: 30px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 12;
  animation-name: toRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  z-index: 10;
}

.main-grid-item-3 {
  background-color: #EADDCA;
  border-radius: 30px;
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 12;
  animation-name: toRightFirst;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.scheduler-main-heading,
.lectures,
.LectureInfo .flex .items-center {
  margin-left: 20px;
  text-align: left;
}

.LectureInfo .flex .items-center {
  margin-left: -10px;
  margin-bottom: 10px;
}

@keyframes toRight {
  0% {
    left: -460px;
    position: relative;
  }

  99% {
    left: 0;
    position: relative;
  }

  100% {
    left: 0;
    position: sticky;
  }
}

@keyframes toRightFirst {
  0% {
    left: -1520px;
    position: relative;
  }

  99% {
    left: 0;
    position: relative;
  }

  100% {
    left: 0;
    position: sticky;
  }
}