ul {
    list-style-type: none;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .page-item {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 10px;
    margin-bottom: -30px;
}

.page-item .page-link {
    background-color: #EADDCA;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 20px -30px;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 30px;
}

.page-link:hover {
    cursor: pointer;
    background-color: white;
}

.page-item:active {
    transform: translateY(2px);
}

.page-item.active .page-link {
    background-color: lightgrey;
}

.page-item.disabled .page-link {
    opacity: 0.5;
    cursor: default;
}

.page-item.disabled .page-link:hover {
    background-color: #EADDCA;
}