.scheduler-grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(14, 1fr);
    gap: 1px;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    margin-top: 50px;
}

.scheduler-grid-item {
    background-color: white;
    border: 1px solid #EADDCA;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scheduler-grid-item.non-empty-cell {
    z-index: 5;
}

.scheduler-grid-item-1 {
    border-top-left-radius: 30px;
}

.scheduler-grid-item-6 {
    border-top-right-radius: 30px;
}

.scheduler-grid-item-79 {
    border-bottom-left-radius: 30px;
}

.scheduler-grid-item-84 {
    border-bottom-right-radius: 30px;
}

.scheduler-grid-item.non-empty-cell:hover,
.scheduler-grid-item.non-empty-cell:focus {
    box-shadow: 0 0.5em 0.5em -0.4em black;
    transform: translateY(-0.25em);
}